---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flux-system

resources:
  - flux-operator.yaml
  - flux-instance.yaml
  - cluster-vars.yaml

configMapGenerator:
  - name: flux-operator-values
    files:
      - values.yaml=values-flux-operator.yaml
    options:
      disableNameSuffixHash: false
  - name: flux-instance-values
    files:
      - values.yaml=values-flux-instance.yaml
    options:
      disableNameSuffixHash: false

# This tells Kustomize to update ConfigMap references in HelmRelease
configurations:
  - kustomizeconfig.yaml
