apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 5m0s
  releaseName: traefik
  chart:
    spec:
      chart: traefik
      version: 34.3.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  values:
    service:
      annotations:
        networking.gke.io/load-balancer-type: Internal
        networking.gke.io/internal-load-balancer-allow-global-access: "true"
